.*.swp
.*.swo
*.i
*.o
*.a
*.bin
*.so
*.ipk
pcb/*.b[^r][^d]
pcb/*.p[^c][^b]
rgb-test
am335x/pasm/pasm
.*.d
*~
*~
a.out
fade-test
fire
udp-rx
opc-rx
.cproject
.project
am335x/app_loader/lib/
ipk/libpixel/CONTROL/control
ipk/libpixel-dev/CONTROL/control
